#main .content .summary {
  margin-top: 30px;
  display: flex;
}

#main .content .summary .user_status {
  flex: 1;
  margin-left: 18px;
  margin-right: 9px;
  height: 100px;
  background: #188ae2;
}

#main .content .summary .user_status .title {
  margin-left: 35px;
  margin-top: 17px;
}

#main .content .summary .user_status .data {
  display: flex;
  align-items: baseline;
  margin-left: 35px;
  margin-top: 5px;
}

#main .content .summary .user_status .data .number {
  font-size: 24;
  font-weight: 700;
}

#main .content .summary .user_status .data .time {
  margin-left: 5px;
}

#main .content .summary .user_status .rectangle {
  margin-top: 10px;
  width: calc(100% - 70px);
  height: 5px;
  background: #000;
  border-radius: 10px;
  margin-left: 35px;
  margin-right: 35px;
}

#main .content .summary .user_status .rectangle .rectangle_white {
  width: 85%;
  border-radius: 10px;
  height: 5px;
  background: #fff;
}

#main .content .summary .sales {
  flex: 1;
  margin-left: 9px;
  margin-right: 9px;
  height: 100px;
  background: #ff5b5b;
}

#main .content .summary .sales .title {
  margin-left: 35px;
  margin-top: 17px;
}

#main .content .summary .sales .data {
  display: flex;
  align-items: baseline;
  margin-left: 35px;
  margin-top: 5px;
}

#main .content .summary .sales .data .number {
  font-size: 24;
  font-weight: 700;
}

#main .content .summary .sales .data .time {
  margin-left: 5px;
}

#main .content .summary .sales .rectangle {
  margin-top: 10px;
  width: calc(100% - 70px);
  height: 5px;
  background: #000;
  border-radius: 10px;
  margin-left: 35px;
  margin-right: 35px;
}

#main .content .summary .sales .rectangle .rectangle_white {
  width: 70%;
  border-radius: 10px;
  height: 5px;
  background: #fff;
}

#main .content .summary .page_views {
  flex: 1;
  margin-left: 9px;
  margin-right: 18px;
  height: 100px;
  background: #10c469;
}

#main .content .summary .page_views .title {
  margin-left: 35px;
  margin-top: 17px;
}

#main .content .summary .page_views .data {
  display: flex;
  align-items: baseline;
  margin-left: 35px;
  margin-top: 5px;
}

#main .content .summary .page_views .data .number {
  font-size: 24;
  font-weight: 700;
}

#main .content .summary .page_views .data .time {
  margin-left: 5px;
}

#main .content .summary .page_views .rectangle {
  margin-top: 10px;
  width: calc(100% - 70px);
  height: 5px;
  background: #000;
  border-radius: 10px;
  margin-left: 35px;
  margin-right: 35px;
}

#main .content .summary .page_views .rectangle .rectangle_white {
  width: 70%;
  border-radius: 10px;
  height: 5px;
  background: #fff;
}
