body{
  margin: 0;
  font-size: 14;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background: #edf0f5;
  height: 100%;
  overflow: auto;
}
html{
  height: 100%;
  overflow: auto;
}


*,*:before,*:after{
  box-sizing: border-box;
  color: #fff;
}


#sidebar{
  /* display: flex; */
  position: absolute;
  width: 290px;

  min-height: 100%;
  background: #414042;
  top:0;

  left: -290px;

  transition: 300ms;
}

#sidebar.active{
  left: 0px;

}

#sidebar.active .intro{
  width: 290px;

}


#sidebar .intro{
  width: 372px;
  height: 80px;
  background: #313131;
  align-items: center;
  display: flex;
  justify-content: space-between;

  transition: 300ms;
}




#sidebar .intro .name{
  margin-left: 30px;
  font-size: 23;
}

#sidebar .intro .toggle-btn{

  margin-right: 20px;
  background: #313131;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
  z-index: 1000;
  transition: 200ms;

}

#sidebar .intro .toggle-btn span{
  display: block;
  width: 26px;
  height: 4px;
  background-color: #fff;
  margin: 4px 0;
  transition: 200ms;
}

#sidebar .intro .toggle-btn:hover{
  background: #fff;

}
#sidebar .intro .toggle-btn:hover span{
  background: #313131;

}

#sidebar .item,
  .item_first,
  .item_last,
  .support{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  transition: 100ms;
  cursor:pointer;
}

#sidebar .item .name,
  .item_last .name,
  .item_first .name,
  .support .name{
  display: flex;

  margin-left: 30px;
}

#sidebar .item .name .image,
  .item_last .name .image,
  .item_first .name .image,
  .support .name .image{
  font-size: 14;
}

#sidebar .item .name .text,
  .item_last .name .text,
  .item_first .name .text,
  .support .name .text{
  margin-left: 20px;
}

#sidebar .item .arrow,
  .item_first .arrow,
  .item_last .arrow{
  margin-right: 30px;
  font-size: 20;
  font-stretch: condensed;
  transition: 300ms;
}

#sidebar .item_last:after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #313131;
  position: absolute;
  top: 70px;
  left: 0;
}

#sidebar .item_first{
  background: #188ae2;
}

#sidebar .support{
  margin-top: 40px;
}

#sidebar .item_first:hover,
.item:hover,
.item_last:hover,
.support:hover{
  background: #188ae2;
}

#sidebar .item_first.activated .arrow,
#sidebar .item.activated .arrow,
#sidebar .item_last.activated .arrow{

  transform: rotate(90deg);
  /* transform: rotate(90deg); */
}

#head {
  position: absolute;
  left: 82px;
  /* margin-left: 82px; */
  width: calc(100% - 82px);
  min-width: 260px;


  min-height: 80px;
  height: auto;
  background: #188ae2;
  transition: 300ms;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#head.head-with-sidebar {
  /* width: 100%; */
  left: 290px;
  width: calc(100% - 208px - 82px);
  right: 0;

}





#head #search{
  width: 215px;
  height: 35px;
  margin-left: 30px;
  background: #0b76c9;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input::-webkit-input-placeholder {
  color: white;
  font-weight: 100;
}

#head #search #text{
  margin-left: 20px;
  width: 150px;
  border: none;
  outline: none;
  background: #0b76c9;
  color: #fff;
}

#head #search .button{
  width: 40px;
  margin-right: 30px;
  border: none;
  outline: none;
  color: #000;
  background-color: transparent;
  cursor: pointer;

}

#head .information{
  margin-right: 45px;
  width: 225px;
  height: 35px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#head .information .name .status{
  font-size: 10;
}

#head .information .alarm{
  font-size: 25;
}

#head .information .settings{
  font-size: 18;
  border: solid 1px;
  padding-top: 3px;
  padding-left: 3px;
  padding-bottom: 5px;
  border-radius: 5px;
}











/*
align-items: center;
display: flex;
justify-content: space-between;
*/
