body{
  margin: 0;
  font-size: 14;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  color: #edf0f5;
}

*,*:before,*:after{
  box-sizing: border-box;
}


#sidebar{
  position: relative;
  width: 290px;
  height: 100%;
  background: #414042;
  left: -290px;

  transition: 300ms;
}

#sidebar.active{
  left: 0px;

}

#sidebar.active .intro{
  width: 290px;

}


#sidebar .intro{
  width: 372px;
  height: 80px;
  background: #313131;
  align-items: center;
  display: flex;
  justify-content: space-between;

  transition: 300ms;
}




#sidebar .intro .name{
  margin-left: 30px;
  font-size: 23;
}

#sidebar .intro .toggle-btn{

  margin-right: 20px;
  background: #313131;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;

}

#sidebar .intro .toggle-btn span{
  display: block;
  width: 26px;
  height: 4px;
  background-color: #fff;
  margin: 4px 0;
}

#sidebar .intro .toggle-btn:hover{
  background: #fff;

}
#sidebar .intro .toggle-btn:hover span{
  background: #313131;

}

#sidebar .item,
  .item_first,
  .item_last,
  .support{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  margin-bottom: 1px;
}

#sidebar .item .name,
  .item_last .name,
  .item_first .name,
  .support .name{
  display: flex;

  margin-left: 30px;
}

#sidebar .item .name .text,
  .item_last .name .text,
  .item_first .name .text,
  .support .name .text{
  margin-left: 20px;
}

#sidebar .item .arrow,
  .item_first .arrow,
  .item_last .arrow{
  margin-right: 30px;
  font-size: 20;
  font-stretch: condensed;
}

#sidebar .item_last:after{


  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #313131;
  position: absolute;
  top: 70px;
  left: 0;
}

#sidebar .item_first{
  background: #188ae2;
}

#sidebar .support{
  margin-top: 40px;
}




/*
align-items: center;
display: flex;
justify-content: space-between;
*/
